# Runtime requirements
--requirement requirements.txt

# Testing
pytest==5.4.3
py==1.8.1
mock==4.0.2
tox==3.17.1
six
attr
pip-tools

# Linting
flake8==3.7.9
mccabe==0.6.1
pep8==1.7.1
pyflakes==2.1.1
pycodestyle==2.5.0

# Documentation
Sphinx==3.1.2
sphinx_rtd_theme
docutils==0.16
Jinja2==2.11.2
MarkupSafe==1.1.1
watchdog==0.10.2
Pygments==2.7.2
# Miscellaneous
Paver==1.3.4
colorama==0.4.3
enum34==1.1.10
configparser==4.0.2

# Coverage
pytest-cov==2.8.1

# Distribution
twine==3.1.1
